<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link  href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link  rel="stylesheet" href="/resources/auth/style.css">
    <link  rel="icon" type="image/x-icon" href="/resources/icons/Ll.ico">

</head>

<!-- partial:index.partial.html -->
<body class="align">

<div class="grid">
    <h1>Low Latency</h1>
    <form id="loginForm" class="form login" action="./api/login">

        <div class="form__field">
            <label for="login__username">
                <svg width="15px" height="15px" fill="#FFFFFF">
                    <use xlink:href="#icon-user"></use>
                </svg>
                <span class="hidden">Username</span></label>
            <input autocomplete="username" id="login__username" type="text" name="username" class="form__input"
                   placeholder="Username" required>
        </div>

        <div class="form__field">
            <label for="login__password">
                <svg width="15px" height="15px" fill="#FFFFFF">
                    <use xlink:href="#icon-lock"></use>
                </svg>
                <span class="hidden">Password</span></label>
            <input id="login__password" type="password" name="password" class="form__input" placeholder="Password"
                   required>
        </div>
        <div class="h-captcha" data-sitekey="5aa25af8-05c6-4b6c-ab92-780a9810ee16" data-theme="dark"></div>

        <div class="form__field">
            <input type="submit" value="Sign In">
        </div>


    </form>

    <p class="text--center">Not a member? <a href="./register">Sign up now</a>
        <svg class="icon">
            <use xlink:href="#icon-arrow-right"></use>
        </svg>
    </p>

</div>

<svg xmlns="http://www.w3.org/2000/svg" class="icons">
    <svg style="display: none;">
        <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
            <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z"
                  fill="white"/>
        </symbol>
        <symbol id="icon-lock" viewBox="0 0 1792 1792">
            <path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z"
                  fill="white"/>
        </symbol>
        <symbol id="icon-user" viewBox="0 0 1792 1792">
            <path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z"
                  fill="white"/>
        </symbol>
        <symbol id="icon-code" viewBox="0 0 32 32">
            <path d="M21,2a8.9977,8.9977,0,0,0-8.6119,11.6118L2,24v6H8L18.3881,19.6118A9,9,0,1,0,21,2Zm0,16a7.0125,7.0125,0,0,1-2.0322-.3022L17.821,17.35l-.8472.8472-3.1811,3.1812L12.4141,20,11,21.4141l1.3787,1.3786-1.5859,1.586L9.4141,23,8,24.4141l1.3787,1.3786L7.1716,28H4V24.8284l9.8023-9.8023.8472-.8474-.3473-1.1467A7,7,0,1,1,21,18Z"
                  stroke="white" stroke-width="1"/>
            <circle cx="22" cy="10" r="2" stroke="white" stroke-width="1"/>
            <rect class="cls-1" width="32" height="32" fill="none"/>
        </symbol>
        <symbol id="icon-email" viewBox="0 0 24 24" fill="none">
            <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="white" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"/>
            <rect x="3" y="5" width="18" height="14" rx="2" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </symbol>
    </svg>
</svg>

<script>


</script>
</body>

<script  src="/resources/js/unauth-session.js"></script>
<script  src="/resources/auth/auth.js"></script>
<script  src="/resources/auth/login.js"></script>

<script  src="https://js.hcaptcha.com/1/api.js" async defer ></script>

</html>
